@model madi_care.Models.admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aemail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abirth_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abirth_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin1.aname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin1.aname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin2.aname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin2.aname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.aid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
