@model IEnumerable<madicare.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>D O C T O R</h1>

<p>
    <a asp-action="Create" class="w3-bar-item w3-button w3-padding w3-blue">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>NAME</label>

            </th>
            <th>
                <label>PHONE</label>
            </th>
            <th>
                <label>ADDRESS</label>
            </th>
            <th>
                <label>GENDER</label>
            </th>
            <th>
                <label>EMAIL</label>
            </th>

            <th>
                <label>DATE OF BRITH</label>
            </th>
            <th>
                <label>QUALIFICATION</label>
            </th>
            <th>
                <label> WORK PLACE  </label>
            </th>
            <th>
                <label>   ACTION</label>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dphone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.daddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dgender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.demail)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ddate_of_brith)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dqualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.villageDetails.VillageName)
                </td>
                <td>


                    <a asp-controller="DoctorAllocation" asp-action="Edit" asp-route-id="@item.did"> Allocation</a> |
                    <a asp-action="Edit" asp-route-id="@item.did">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.did">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.did">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-area="" asp-controller="AdminMediCares" asp-action="Index" class="w3-bar-item w3-button w3-padding w3-blue"> BACK</a>
