@model IEnumerable<madi_care.Models.doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.daddresss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dgender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dqualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dpassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin.aname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daddresss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dgender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dqualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dpassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin.aname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.did }) |
            @Html.ActionLink("Details", "Details", new { id=item.did }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.did })
        </td>
    </tr>
}

</table>
